@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #171717;
  --background: #ffffff;
  --primary: #2563eb;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}

/* Add this custom style for vertical text */
.writing-mode-vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}